@tailwind utilities;

body {
  /* background: radial-gradient(circle at bottom, #304b3c , #57a03f) */
}


/*
pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* .dark .nextra-container .nextra-sidebar ul li.active > a {
  color: #fff7ba !important;
  background: #f7df1e1c !important;
} */

.nextra-container .nextra-sidebar ul li.active > a {
  color: #fff7ba !important;
  background: #f7df1e1c !important;
}

.websiteTitleHeader {
  @apply text-2xl font-bold;
}

.profilePicture {
  @apply rounded-full h-12 w-12;
}

.nextra-nav-container {
  @apply h-16;
}